body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    background-color: rgb(224, 218, 134);
}
.heading{
    color:rgb(21, 36, 17);
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main{
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    background-image: url(green-floral-background-at79zf2rwswi0rdc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.personal{
   color: rgb(31, 43, 19);
   background-color: rgb(215, 221, 182);
   border-radius: 30px;
   border: 2px solid black;
   margin-bottom:25px ;
   text-align: center;
   padding: 15px;
   font-size:30px;

}
#uplode{
    color: white;
    font-size: 30px;
}
.input{
    color: white;
    font-size: 30px;
}
#email{
    border-radius: 15px;
    border: 2px solid black;
    
}
#name{
    border-radius: 15px;
    border: 2px solid black;
    
}
#phone{
    border-radius: 15px;
    border: 2px solid black;
    
}
#address{
    border-radius: 15px;
    border: 2px solid black;
    
}
#skills{
    border-radius: 15px;
    border: 2px solid black;
}
#education{
    border-radius: 15px;
    border: 2px solid black;
}
#experience{
    border-radius: 15px;
    border: 2px solid black;
}

.forpic{
    color: rgb(50, 78, 44);
}
input[type="file"]{
    font-size: 16px;
    padding: 10px;
    width: 250px;
    background-color:rgb(175, 150, 97);
    border-radius: 30px;
    margin-top: 20px;
}
input[type="file"]::file.selector-button{
    background-color: rgb(250, 236, 38);
    cursor: pointer;
    font-size: large;
    color: rgb(233, 219, 219);
    border-color: rgb(46, 63, 34);
    border-radius: 30px;
}
form{
    margin-bottom: 40px;
}
input,textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color:rgb(158, 192, 95) ;
    border-width: 3px;
}